-----BEGIN CERTIFICATE-----
MIICxjCCAa6gAwIBAgIRAID8Y1nfYJ1pXjV8AaNIzTUwDQYJKoZIhvcNAQELBQAw
ADAeFw0yMTA3MjEwOTMzNTJaFw0yMjA3MjEwOTMzNTJaMAAwggEiMA0GCSqGSIb3
DQEBAQUAA4IBDwAwggEKAoIBAQDg10/aUh33gmSAewkAc4CbtaPR+3Ja3ncEQhNt
RIwoE0d6qoX06Xge1AB46Tio57l9Elpts6tIruHE7KWyrj/n++NMQoH18f3Offbd
PoPa6OrciEZ7k6Lm2YSpMkVUKbOFBmxsGrBP8q5gLQHo+TwsLecaLj+fT0iSZ9ii
g9RtOgEKdbMS8VJVJeXZgIbvd9XNyxNuaWoBLxGG0pXiNFe1Rje67bIIE6jyqKFM
gE7OanXKHPkw+Mm5ItbIBpYd1IdGLOeCS/krSXXhvD8vEAVb2I5CpAaqm2ga7FCt
HkkatxJRKYQyVGxQFMalSrJxMEM8mVAiwriK/pt6aoaQwS8FAgMBAAGjOzA5MA4G
A1UdDwEB/wQEAwIFoDATBgNVHSUEDDAKBggrBgEFBQcDATASBgNVHREBAf8ECDAG
hwQna1yzMA0GCSqGSIb3DQEBCwUAA4IBAQCjMXa0BjciN899QRhhk5cNK+TnVnIb
B0kN1iOq0q3QXnbceJzEEM1+f2syzDsJQkjipRrECJsVR+H5+pwV778pJiqR5f/+
+wHAjFNCufsGHGhAz8PVNZyIB6yLVLd5E1GxNZ0PjagPNzY2CYWklyzlLU2BSR0c
rY/tBXr4dErJ+KhbUT67qLbjJI/xfK/EdzkYjP++k7jgoz5Eo8/vZ7ORzkaDEc8e
geomjgrO13AgqaE3JEYesS3nsRMhLoIkoWmD5a6wI0Sfa3YuSCcG4I2DLl5CsR59
UxoxRh/ObFBFtIxDL5SOqocCJXJjLejAH3CoQtvuBC45gGyr5GN5FJkH
-----END CERTIFICATE-----
